<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:text="${blog.title}">內容頁</title>
    <link th:replace= "_fragments :: link">
</head>

<body>
    <!-- 導覽 -->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted  attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首頁</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分類</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>標籤</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>歸檔</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>關於我</a>
                <div class="right m-item  item m-mobile-hide">
                    <div class="ui icon input inverted transparent">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon botton m-top-right m-moblie-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中間內容 -->
    <div class="m-padded-tb-big m-container-small animated fadeIn">
        <div class="container">
            <!-- 內容頭部 -->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg" th:src="@{${blog.user.avatar}}"  alt=""
                            class="ui avatar image">
                        <div class="content">
                            <a href="#" class="header" th:text="${blog.user.nickname}">媽媽</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-12-22</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i><span th:text="${blog.views}">1234</span>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!-- 圖片 -->
                <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg" th:src="@{${blog.firstPicture}}" alt=""
                    class="ui rounded fluid image">
            </div>
            <div class="ui attached padded segment">
                <!-- 內容 -->
                <div class="ui right aligned basic  segment">
                    <div class="ui orange basic label" th:text="${blog.flag}">轉載</div>
                </div>

                <h2 id="section" class="ui  center aligned header" th:text="${blog.title}">【柴犬】超準！會養柴犬的人7大特質</h2>

                <!--中間主要內容-->
                <div id="content" class="typo typo-selection js-toc-content  m-padded-lr-reponsive m-padded-tb-large" th:utext="${blog.content}">
                    <pre><code class="language-css">p{ color: red}</code></pre>
                    <h3 id="section1">1.個性倔強</h3>
                    <p>對於自己認為對的事，會堅持到底，擇善固執，旁人難以改變。</p>
                    <h3 id="section2">2.性格外向</h3>
                    <p>柴犬性格外向，非常喜歡外出，每天也要散步兩次，否則會鬱鬱寡歡，柴犬飼主也有著類似特質。</p>
                    <h3 id="section3">3.性格貪玩</h3>
                    <p>眾所周知柴犬性格貪玩，要是散步時間不足，牠們就會賴在街頭，不願意回家，這也許也是柴犬飼主的其中一項特質</p>
                    <h3 id="section4">4.獨立自主</h3>
                    <p>柴犬性格高傲，難以馴服，是令人頭疼的犬種，其飼主也有其獨立自主個性</p>
                    <h3 id="section5">5.直覺敏銳</h3>
                    <p>柴犬祖先為獵犬，因此天生具有較強警覺性和攻擊性，說不定飼主也同樣敏銳的洞察力</p>
                    <h3 id="section6">6.外冷內熱</h3>
                    <p>柴犬有冷酷帥氣外表但內心可愛傻氣像飼主一樣</p>
                    <h3 id="section7">7.忠心</h3>
                    <p>柴犬以忠心聞名對認定主人有極高忠誠度不會背叛，其主人也會有這一面</p>
                </div>
                <!-- 標籤 -->
                <div class="m-padded-lr-reponsive">
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法論</div>
                </div>
                <div th:if="${blog.appreciation}">
                    <div class="ui center aligned basic segment">
                        <!-- 點讚 -->
                        <button id="payButton" class="ui orange  basic circular button">點讚</button>
                    </div>
                    <div class="ui payQR flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images" style="font-size: inherit;">
                                <div class="image">
                                    <img src="./images/Line_QR_Code.jpg" th:src="@{/images/Line_QR_Code.jpg}" alt="" class="ui rounded bordered image"
                                         style="width: 120px;">
                                    <div>LinePay</div>
                                </div>
                                <div class="image">
                                    <img src="./images/Line_QR_Code.jpg" th:src="@{/images/Line_QR_Code.jpg}" alt="" class="ui rounded bordered image"
                                         style="width: 120px;">
                                    <div>支付寶</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui attached positive message" th:if="${blog.shareStatment}">
                <!-- 部落格訊息 -->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <div class="list">
                            <li>作者:<span th:text="${blog.user.nickname}">網路文章</span></li>
                            <li>發表時間:<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-12-24 09:08</span></li>
                            <li>版權聲明:自由轉載</li>
                        </div>
                    </div>
                    <div class="five wide column">
                        <img src="./images/Line_QR_Code.jpg" th:src="@{/images/Line_QR_Code.jpg}" alt=""
                            class="ui right floated ronded bordered image" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div  class="ui bottom attached segment" th:if="${blog.commentabled}">
                <!-- 留言區 -->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">留言</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author">
                                     <span th:text="${comment.nickname}">Matt</span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}" >部落格主</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">Reply</a>
                                    </div>
                                </div>

                                <div class="comments" th:if="${#arrays.length(comment.replyComments)>0}">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg" th:src="@{${reply.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span  th:text="${reply.nickname}">Matt</span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">部落格主</div>
                                                &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|" class="m-teal">@ 被回覆者</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--/*-->
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                            <div class="actions">
                                                <a class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Joe Henderson</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Dude, this is awesome. Thanks so much
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div id="comment-form" class="ui form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" th:value="null">
                    <div class="field">
                        <textarea name="content" placeholder="請輸入留言訊息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="暱稱" th:value="${session.user}!=null ? ${session.user.nickname}">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="電子信箱" th:value="${session.user}!=null ? ${session.user.email}">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <button id="commentpost-btn" class="ui teal button m-mobile-wide"><i class="edit icon"></i>提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 瀏覽ToolBar -->
    <div class="m-padded m-fixed m-right-bottom">
        <div class="ui vertical icon buttons ">
            <button type="button" class="ui toc teal button">目錄</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <button class="ui line icon button"><i class="linechat icon"></i></button>
            <div id="toTop-button" class="ui  button"><i class="chevron up icon"></i></div>
        </div>
    </div>
    <div class="ui toc-container flowing popup transition hidden" style="width: 250px; !important">
        <ol class="js-toc">

        </ol>
    </div>
    <div id="qrcode" class="ui line-qr flowing popup transition hidden" style="width: 130px;">
        <!-- <img src="../static/images/Line_QR_Code.jpg" alt="" class="ui rounded image" style="width: 120px;"> -->
    </div>

    <!-- 底部 -->
    <footer th:replace="_fragments :: footer"></footer>
    <script th:replace="_fragments :: script"></script>


    <script th:inline="javascript">

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('#payButton').popup({
            popup: $('.payQR.popup'),
            on: 'click',
            position: 'bottom center'
        });
        // 初始化tocbot套件
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });
        $('.toc.button').popup({
            popup: $('.toc-container.popup'),
            on: 'click',
            position: 'left center'
        });
        $('.line').popup({
            popup: $('.line-qr'),
            // 默認是hover
            on: 'hover',
            position: 'left center'
        })

        var serurl = location.href;
        var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
        var qrcode = new QRCode("qrcode", {
            text: serurl+url,
            width: 110,
            height: 110,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
        $('#toTop-button').click(function(){
            $(window).scrollTo(0,1000);
        });

        //评论表单验证
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入評論'
                    }
                    ]
                },
                content: {
                    identifier: 'nickname',
                    rules: [{
                        type: 'empty',
                        prompt: '请輸入您的大名'
                    }]
                },
                type: {
                    identifier: 'email',
                    rules: [{
                        type: 'email',
                        prompt: '請填寫您的EMAIL'
                    }]
                }
            }
        });

        $(function () {
            $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
        });

        $('#commentpost-btn').click(function (){
           var boo = $('.ui.form').form('validate form');
           if(boo){
               console.log('校驗成功');
               postData();
            }else{
               console.log('校驗失敗');
            }
        });

        function postData() {
            $("#comment-container").load(/*[[@{/comments}]]*/"",{
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id" : $("[name='blog.id']").val(),
                "nickname": $("[name='nickname']").val(),
                "email"   : $("[name='email']").val(),
                "content" : $("[name='content']").val()
            },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
                clearContent();
            });
        }
        function clearContent() {
            $("[name='content']").val('');
            $("[name='parentComment.id']").val(null);
            $("[name='content']").attr("placeholder", "请輸入留言...");
        }

        function reply(obj){
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'),500);
        }

    </script>
</body>

</html>