<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>標籤</title>
    <link th:replace= "_fragments :: link">
</head>

<body>
    <!-- 導覽 -->
    <nav th:replace="_fragments :: menu(3)" class="ui inverted  attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首頁</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分類</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="tags icon"></i>標籤</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>歸檔</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>關於我</a>
                <div class="right m-item  item m-mobile-hide">
                    <div class="ui icon input inverted transparent">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon botton m-top-right m-moblie-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中間內容 -->
    <div class="m-padded-tb-big m-container-small">
        <div class="ui container">
            <!-- header -->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">標籤</h3>
                    </div>
                    <div class="right aligned column">
                        共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}">14</h2>個
                    </div>
                </div>
            </div>
            <div class="ui attached segment m-padded-tb-large">

                <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${tags}">
                    <span th:text="${tag.name}">方法論</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">5</div>
                </a>

            </div>
            <div class="ui top attached teal segment">
                <!-- 文章內容 -->
                <div class="ui padded vertical segment m-padded-tb-large"  th:each="blog : ${page.content}">
                    <div class="ui  middle aligned mobile reversed stackable grid">
                        <!-- 左邊內容 -->
                        <div class="ui eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">有個性的柴犬</a></h3>
                            <p class="m-text" th:text="|${blog.description}......|">柴犬天性較為大膽、獨立，同時也有頑固一面</p>
                            <div class="ui grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg"
                                                     th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header" th:text="${blog.user.nickname}">札摳</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-12-22</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">1234</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">認知升級</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label m-padded-mini m-text-thin" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法論</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://img.ruten.com.tw/s2/7/3c/08/21746337018888_490.jpg" th:src="@{${blog.firstPicture}}" alt=""
                                     class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 分頁 -->
            <div class="ui bottom attached segment" th:if="${page.totalPages}>1" >
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一頁</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一頁</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 底部 -->
    <footer th:replace="_fragments :: footer"></footer>
    <script th:replace="_fragments :: script"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>

</html>